<?xml version="1.0" ?>
<model>
    <name>MarkerCube</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Alaa El Jawad</name>
        <email>alaa@forssea-robotics.fr</email>
    </author>
    <description>A Cube that has an ARUCO marker on one face that can be swapped by changing the image file</description>
</model>
